<%- include('includes/header') %>
        <div class="complexcenter login center">
            <h1>Login</h1>
            <form action="/" method="post">
                <input type="text" name="user" placeholder="Nome"><br><br>
                <input type="submit" value="entrar" class="button"><br>
            </form>
        </div>
</body>
</html>